<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Work Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/editor-styles.css') }}"
    />
    <title>cadenza for pyteal</title>
  </head>

  <body>
    <br />
    <h1>🎼 cadenza 🎶</h1>
    <div class="editor">
      <div class="editor__wrapper">
        <div class="editor__body">
          <div id="editor" class="editor__code"></div>
        </div>
        <div class="editor__footer">
          <div class="editor__footer--left">
            <br />
            <button class="button-30 editor__run">compile 🔧</button>
            <br />
            <button class="button-30 editor__deploy">deploy 🚀</button>
          </div>
          <div class="editor__footer--right">
            <div class="editor__console">
              <ul class="editor__console-logs"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Required Ace Libraries -->
    <script src="https://pagecdn.io/lib/ace/1.4.14/ace.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.14/mode-python.js"></script>
    <script
      src="https://pagecdn.io/lib/ace/1.4.14/theme-dreamweaver.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://pagecdn.io/lib/ace/1.4.14/ext-language_tools.js"
      crossorigin="anonymous"
    ></script>

    <!-- Custom Scripts -->
    <script src="{{ url_for('static',filename='js/editor.js') }}"></script>
    <script src="{{ url_for('static',filename='js/console.js') }}"></script>

    <footer>
      <p>
        <a
          href="https://gist.github.com/algochoi/39987c6fe241fdda64c1051fb96c114f"
          >how to cadenza</a
        >
        <br />
        <!-- built for algorand's 2022 Q1 internal hackathon <br /> -->
        by <a href="https://github.com/algochoi">algochoi</a>
      </p>
    </footer>
  </body>
</html>
